# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
.env
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
pip-delete-this-directory.txt

# Installer logs
pip-log.txt

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.sqlite3
*.env
*.pot

# Key files
**/keys/
**/*.pem
**/*.key
**/*.crt
**/*.csr

# Data
data/
